<h1>All Drivers</h1>

<%= link_to "Add Driver", new_driver_path, class:"button" %>
<%= link_to "Home", root_path, class:"button" %>
<%= will_paginate(@drivers) %>
<%= form_tag(drivers_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Drivers" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>


<% if @drivers.blank? %>
  <h3>There are no drivers to display</h3>
<% else %>
  <% @drivers.each do |driver| %>
  <div class="person">
    <%= link_to image_tag("002-user-3.png", alt:"user"), driver_path(driver) %>
    <h3><%= link_to driver.name, driver_path(driver) %></h3>
  </div>
  <% end %>
<%end%>
