<h2> Name: <%= @driver.name %> </h2>
<h3> Driver VIN: <%= @driver.vin %> </h3>
<%= link_to "Back to Drivers", drivers_path %>
<%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Edit", edit_driver_path(@driver) %>
