<h2> Name: <%= @driver.name %> </h2>
<h3> Driver VIN: <%= @driver.vin %> </h3>
<h3>Average Rating : <%= @driver.average_rating %></h3>
<h3>Trips</h3>
<% if @driver.trips.empty? %>
    <p>
      This driver has not given any rides yet.
    </p>
    <% else %>
<table>
    <tr>
      <th>ID</th>
      <th>Passenger ID</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Cost</th>
    </tr>
    <% @driver.trips.each do |trip| %>
    <tr>
      <td> <%=link_to trip.id, trip_path(trip.id)%> </td>
      <td> <%=trip.passenger_id%> </td>
      <td> <%=trip.date%> </td>
      <td> <%=trip.rating%> </td>
      <td> $<%=(trip.cost/100).round(2)%> </td>
    </tr>
    <% end %>
</table>
<% end %>

<%= link_to "Back", drivers_path, class:"button"%>
<%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"}, class:"button" %>
<%= link_to "Edit", edit_driver_path(@driver), class:"button" %>
